.second{
  text-align: center;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      padding: 0 15px;
      margin-top: 20px;
      width: 70%;
      color: #000;
      font-family: Poppins;
}
.second > div {
  line-height: 30px;
}
.first{
  text-align: center;
}
