@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

input,
button {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiBackdrop-root:hover {
  cursor: url("https://cdn.shopify.com/s/files/1/0052/7551/6995/t/3/assets/cursor-x.png?v=103455633127848676381547811770"), pointer;
}

.MuiTooltip-tooltip {
  max-width: 180px;
  text-align: center;
  font-size: 0.7571428571em;
}

.MuiPaper-root {
  overflow: visible;
}
